<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div>Larevel</div>
      <ul class="ul">
        <li>login</li>
        <li>Register</li>
      </ul>
    </header>
    <form action="/signin" method="post">
      <table align="center">
        <tr>
          <th>Reidter</th>
          <th></th>
        </tr>
        <tr>
          <td>Name</td>
          <td><input type="text" name="userName" /></td>
        </tr>
        <tr>
          <td>E-mail Address</td>
          <td><input type="text" name="email" /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="password" /></td>
        </tr>
        <tr>
          <td>Confirm Password</td>
          <td><input type="password" name="confirmPassword" /></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Register" />
          </td>
        </tr>
      </table>
    </form>
    <% if(errorMessage) { %>
    <ul class="errorMessage">
      <% for (let error in errorMessage) { %>
      <li><%= errorMessage[ error ].msg %></li>
      <% } %>
    </ul>
    <% } %>
  </body>
</html>
