<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div>Larevel</div>
      <ul class="ul">
        <li><%= name %></li>
        <li><button>Logout</button></li>
      </ul>
    </header>
    <table align="center">
      <tr class="th-top">
        <th>Dashboard</th>
      </tr>
      <tr>
        <td>Your are logged in!</td>
      </tr>
    </table>
  </body>
</html>
