<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div>Larevel</div>
      <ul>
        <li>login</li>
        <li>Register</li>
      </ul>
    </header>
    <table align="center">
      <tr class="th-top">
        <th>Login</th>
        <th></th>
      </tr>
      <tr>
        <td>E-mail Address</td>
        <td><input /></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="checkbox" />Remember Me</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a href="/"><button>Login</button></a>
          <a href="#">Forgot Your Password</a>
        </td>
      </tr>
    </table>
  </body>
</html>
